{include="header"}
<script type="text/javascript">
    $(document).ready(function () {

        $('[data-toggle="popover"]').popover({
            placement: 'bottom',
            trigger: 'hover',
            content: function () {
                return '<div class="thumbnail" style="margin: 0px;"><img src="' + $(this).data('img') + '" /></a>';
            }
        });


    });
</script>

<style>
    .datos_factura {
        background-color: #d9edf7;
    }
    .datos_archivo {
        background-color: #dff0d8;
    }
    .leyenda{font-size:20px;}
    .table-gesdoc th{border: 1px solid #fff;}
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    Gestión Documental
                    <span class="btn-group">
                        <a class="btn btn-xs btn-default" href="{$fsc->url()}" title="Recargar la página">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </a>
                        {if="$fsc->page->is_default()"}
                        <a class="btn btn-xs btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="desmarcar como página de inicio">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                        {else}
                        <a class="btn btn-xs btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="marcar como página de inicio">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                        {/if}
                    </span>
                </h1>
                <p class="help-block"><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Gestiona los archivos adjuntos a los documentos de facturación.</p>
                <hr>
                <p class="leyenda help-block">
                    Leyenda:
                    <span class="label label-warning"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;Datos relativos a los Documentos de Facturación</span>
                    <span class="label label-success"><i class="fa fa-file-o" aria-hidden="true"></i>&nbsp;Datos relativos a los Archivos Adjuntos</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">

    <form name="f_custom_search" action="{$fsc->url()}" method="post" class="form">
        {if="$fsc->cliente"}
        <input type="hidden" name="codcliente" value="{$fsc->cliente->codcliente}"/>
        {else}
        <input type="hidden" name="codcliente"/>
        {/if}

        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <div class="input-group has-warning">
                        <div class="input-group-addon ">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </div>
                        <select name="tipodoc" class="form-control" onchange="this.form.submit()">
                            <option value="" selected="">Cualquier Tipo de Documento</option>
                            <option value="">------</option>
                            {loop="$fsc->tiposdoc"}
                            {if="$value->codigo==$fsc->tipodoc"}
                            <option value="{$value->codigo}" selected="">{$value->descripcion}</option>
                            {else}
                            <option value="{$value->codigo}">{$value->descripcion}</option>
                            {/if}
                            {/loop}
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group">
                    <div class="input-group has-warning">
                        <div class="input-group-addon">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </div>
                        <input type="text" name="desde" value="{$fsc->filtros['b_fdesde']}" class="form-control datepicker" placeholder="Desde" autocomplete="off" onchange="this.form.submit()"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <div class="input-group has-warning">
                        <div class="input-group-addon">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </div>
                        <input type="text" name="hasta" value="{$fsc->filtros['b_fhasta']}" class="form-control datepicker" placeholder="Hasta" autocomplete="off" onchange="this.form.submit()"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                
                <div class="form-group">
                    <div class="input-group has-success">
                        <div class="input-group-addon">
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                        </div>
                        <select name="b_adjunto" class="form-control" onchange="this.form.submit()">
                            
                            <option value="0"{if="$fsc->filtros['b_adjunto']=='0'"} selected=""{/if}>Todos</option>
                            <option value="1"{if="$fsc->filtros['b_adjunto']=='1'"} selected=""{/if}>Con adjunto</option>
                            <option value="2"{if="$fsc->filtros['b_adjunto']=='2'"} selected=""{/if}>Sin adjunto</option>
                        </select>                        
                    </div>
                </div>
            </div>
        </div>

    </form>

    <div class="row">
        <div class="col-sm-12">

            <div class="table-responsive">
                <table class="table table-hover table-gesdoc">
                    <thead>
                        <tr>
                            <th colspan="3" class="alert-warning text-left"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;Tipo Doc.</th>
<!--                            <th class="alert-warning text-left"></th>
                            <th class="alert-warning text-left"></th>-->
                            <th class="alert-warning text-left">Código + {#FS_NUMERO2#}</th>
                            <th class="alert-warning text-left">Nombre</th>
                            <th class="alert-warning text-left">Observaciones</th>
                            <!--<th class="alert-success text-right"></th>-->
                            <th colspan="2" class="alert-success text-right">Nombre Archivo.</th>
                            <th colspan="2"  class="alert-success text-center">Adjuntado Día y Hora</th>
<!--                            <th class="alert-success text-left">Hora</th>-->
                            <th class="alert-success text-right">Tamaño</th>
                            <th class="alert-success text-right">Usuario</th>
                        </tr>
                    </thead>
                    {loop="$fsc->resultados"}
                    <tr class="">
                        <td class="text-left">
                            {$value->desc_tipodoc}
                        </td>
                        <td class="text-left">
                        </td>
                        <td class="text-center">
                            {if="$value->pagada"}
                            <span class="glyphicon glyphicon-ok" title="La factura está pagada"></span>
                            {/if}
                            {if="$value->anulada"}
                            <span class="glyphicon glyphicon-remove" title="La factura está anulada"></span>
                            {/if}
                            {if="$value->idfacturarect"}
                            <span class="glyphicon glyphicon-flag" title="{#FS_FACTURA_RECTIFICATIVA#} de {$value->codigorect}"></span>
                            {/if}
                            {if="$value->femail"}
                            <span class="glyphicon glyphicon-send" title="La factura fue enviada por email el {$value->femail}"></span>
                            {/if}
                        </td>
                        <td><a href="{$value->url}" target="_blank">{$value->codigo}</a> {$value->numero2}</td>
                        <td>
                            {$value->nombre}
                        </td>

                        <td>{$value->observaciones}</td>

                        <td class="text-right">
                            {if="$value->df_id"}
                            {if="$value->df_extension == 'png' || $value->df_extension == 'jpg' "}
                            <a href="{$value->df_ruta}" target="_blank"
                               data-toggle="popover" data-html="true" 
                               data-img="{$value->df_ruta}" data-original-title="" title="">

                                {else}
                                <a href="{$value->df_ruta}" target="_blank" title="Abrir Documento">

                                    {/if}
                                    <i class="fa fa-file-o" aria-hidden="true" ></i>
                                </a>
                                {/if}
                        </td>
                        <td class="text-right">
                            {$value->df_nombre}
                        </td>

                        <td class="text-right" title="Fecha {$value->fecha_archivo}">
                            {if="$value->df_fecha==$fsc->today()"}<b>{$value->df_fecha}</b>{else}{$value->df_fecha}{/if}
                        </td>
                        <td class="text-left" title="Hora {$value->hora_archivo}">
                            {$value->df_hora}
                        </td>
                        <td class="text-right">
                            {$value->df_tamano}
                        </td>
                        <td class="text-right">
                            {$value->df_usuario}
                        </td>
                    </tr>
                    {else}
                    <tr class="warning">
                        <td></td>
                        <td></td>
                        <td colspan="6">Ningún documento encontrado.</td>
                    </tr>
                    {/loop}
                </table>
            </div>
        </div>
    </div>

</div> <!--fin container fluid-->



{include="footer"}