{include="header"}
<script type="text/javascript">
    $(document).ready(function () {

        $('[data-toggle="popover"]').popover({
            placement: 'bottom',
            trigger: 'hover',
            content: function () {
                return '<div class="thumbnail" style="margin: 0px;"><img src="' + $(this).data('img') + '" /></a>';
            }
        });


    });
</script>

<style>
    .datos_factura {
        background-color: #d9edf7;
    }
    .datos_archivo {
        background-color: #dff0d8;
    }
    .leyenda{font-size:20px;}
    .table-gesdoc th{border: 1px solid #fff;}
    .table-gesdoc tr td i, .zip {
        font-size: 18px;
    }
    .filters .btn-group {
        margin-top:23px;
    }
    .filters .btn-group i {
        padding: 3px 4px;
        
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    Gestión Documental
                    <span class="btn-group">
                        <a class="btn btn-xs btn-default" href="{$fsc->url()}" title="Recargar la página">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </a>
                        {if="$fsc->page->is_default()"}
                        <a class="btn btn-xs btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="desmarcar como página de inicio">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                        {else}
                        <a class="btn btn-xs btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="marcar como página de inicio">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                        {/if}
                    </span>
                </h1>
                <p class="help-block"><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Gestiona los archivos adjuntos a los documentos de facturación.</p>
            </div>
        </div>
        <div class="col-sm-10"></div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <p class="leyenda help-block">
                Leyenda:
                <span class="label label-warning"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;Datos y filtros relativos a los Documentos de Facturación</span>
                <span class="label label-success"><i class="fa fa-file-o" aria-hidden="true"></i>&nbsp;Datos y filtros relativos a los Archivos Adjuntos</span>
            </p>
        </div>
        <div class="col-sm-3">
            <p class="leyenda help-block">
                Opciones
                <a href="index.php?page=gestion_documental_config"> <i class="fa fa-cogs btn btn-primary"></i></a>
            </p>
        </div>
    </div>
    <hr>
</div>

<div class="container-fluid filters">

    <form name="f_custom_search" action="{$fsc->url()}" method="post" class="form">
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label>Tipo de Documento</label>
                    <div class="input-group has-warning">
                        <div class="input-group-addon ">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </div>
                        <select name="tipodoc" class="form-control" onchange="this.form.submit()">
                            {loop="$fsc->tiposdoc"}
                            {if="$value->codigo==$fsc->docs"}
                            <option value="{$value->codigo}" selected="">{$value->descripcion}</option>
                            {else}
                            <option value="{$value->codigo}">{$value->descripcion}</option>
                            {/if}
                            {/loop}
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group">
                    <label>Fecha Desde</label>
                    <div class="input-group has-warning">
                        <div class="input-group-addon">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </div>
                        <input type="text" name="desde" value="{if="$fsc->desde"}{$fsc->desde}{/if}" class="form-control datepicker" placeholder="Desde" autocomplete="off" onchange="this.form.submit()"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label>Fecha Hasta</label>
                    <div class="input-group has-warning">
                        <div class="input-group-addon">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </div>
                        <input type="text" name="hasta" value="{if="$fsc->hasta"}{$fsc->hasta}{/if}" class="form-control datepicker" placeholder="Hasta" autocomplete="off" onchange="this.form.submit()"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label>Adjunto</label>
                    <div class="input-group has-success">
                        <div class="input-group-addon">
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                        </div>
                        <select name="b_adjunto" class="form-control" onchange="this.form.submit()">                            
                            <option value="0"{if="$fsc->adj=='0'"} selected=""{/if}>Todos</option>
                            <option value="1"{if="$fsc->adj=='1'"} selected=""{/if}>Con adjunto</option>
                            <option value="2"{if="$fsc->adj=='2'"} selected=""{/if}>Sin adjunto</option>
                        </select>                        
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="btn-group">
                    {loop="$fsc->extensions"}
                    {if="$value->type=='button'"}
                    <a {if="$fsc->adj!='2'"} href="index.php?page={$value->from}{$value->params}{$fsc->url}"{/if} class="btn btn-sm btn-default" {if="$fsc->adj=='2'"} disabled=""{/if}>{$value->text}</a>
                    {/if}
                    {/loop}
                </div>
            </div>
        </div>

    </form>

    <div class="row">
        <div class="col-sm-12">

            <div class="table-responsive">
                <table class="table table-hover table-gesdoc">
                    <thead>
                        <tr>
                            <th width="10%" colspan="3" class="alert-warning text-left">Fecha</th>
                            <th width="10%" class="alert-warning text-left">Código + {#FS_NUMERO2#}</th>
                            <th width="20%" class="alert-warning text-left">Nombre</th>
                            <th width="28%" class="alert-warning text-left">Observaciones</th>
                            <th width="10%" colspan="2" class="alert-success text-right">Nombre Archivo.</th>
                            <th width="12%" colspan="2"  class="alert-success text-center">Adjuntado Día y Hora</th>
                            <th width="5%" class="alert-success text-right">Tamaño</th>
                            <th width="5%" class="alert-success text-right">Usuario</th>
                        </tr>
                    </thead>
                    {loop="$fsc->resultados"}
                    <tr class="">
                        <td class="text-left">
                            {$value['fecha']}
                        </td>
                        <td class="text-left">
                        </td>
                        <td class="text-center">
                            {if="$fsc->docs=='FC' || $fsc->docs=='FP'"}
                            {if="$value['pagada']"}
                            <span class="glyphicon glyphicon-ok" title="La factura está pagada"></span>
                            {/if}
                            {/if}
                            {if="$fsc->docs=='FC' || $fsc->docs=='FP'"}
                            {if="$value['anulada']"}
                            <span class="glyphicon glyphicon-remove" title="La factura está anulada"></span>
                            {/if}
                            {/if}
                            {if="$fsc->docs=='FC' || $fsc->docs=='FP'"}
                            {if="$value['idfacturarect']"}
                            <span class="glyphicon glyphicon-flag" title="{#FS_FACTURA_RECTIFICATIVA#} de {$value['codigorect']}"></span>
                            {/if}
                            {/if}
                            {if="$fsc->docs=='FC'"}
                            {if="$value['femail']"}
                            <span class="glyphicon glyphicon-send" title="La factura fue enviada por email el {$value['femail']}"></span>
                            {/if}
                            {/if}                            
                        </td>
                        <td><a href="{$value['doc_url']}" target="_blank">{$value['codigo']}</a> {if="$fsc->docs=='FC'"}{$value['numero2']}{/if}</td>
                        <td>
                            {if="$fsc->docs=='FC'"}{$value['nombrecliente']}{else}{$value['nombre']}{/if}
                        </td>

                        <td>{$value['observaciones']}</td>

                        <td class="text-right">
                            {if="$value['id']"}
                            {if="$value['extension'] == 'png' || $value['extension'] == 'jpg' "}
                            <a href="{$value['ruta']}" target="_blank"
                               data-toggle="popover" data-html="true" 
                               data-img="{$value['ruta']}" data-original-title="" title="">
                                <i class="glyphicon glyphicon-download-alt" aria-hidden="true" ></i>
                            </a>
                            {else}
                            <a href="{$value['ruta']}" target="_blank" title="Abrir Documento">
                                <i class="glyphicon glyphicon-download-alt" aria-hidden="true" ></i>
                            </a>
                            {/if}
                            {/if}
                        </td>
                        <td class="text-right">
                            {$value['doc_nombre']}
                        </td>

                        <td class="text-right" title="Fecha {$value['doc_fecha']}">
                            {if="$value['doc_nombre']!=''"}
                            {if="$value['doc_fecha']==$fsc->today()"}<b>{$value['doc_fecha']}</b>{else}{$value['doc_fecha']}{/if}
                            {/if}
                        </td>
                        <td class="text-left" title="Hora {$value['doc_hora']}">
                            {if="$value['doc_nombre']!=''"}
                            {$value['doc_hora']}
                            {/if}
                        </td>
                        <td class="text-right">
                            {$value['tamano']}
                        </td>
                        <td class="text-right">
                            {$value['usuario']}
                        </td>
                    </tr>
                    {else}
                    <tr class="warning">
                        <td colspan="12">Ningún documento encontrado.</td>
                    </tr>
                    {/loop}
                </table>
            </div>
            <div class="text-center">
                <ul class="pagination">
                    {loop="$fsc->paginas()"}
                    <li{if="$value['actual']"} class="active"{/if}>
                        <a href="{$value['url']}">{$value['num']}</a>
                    </li>
                    {/loop}
                </ul>
            </div>
        </div>
    </div>

</div> <!--fin container fluid-->



{include="footer"}